.header {
  padding-top: $spacing-large;
  margin-bottom: $spacing-large;
  &__wrapper {
    padding: $spacing-small $spacing-large;
    background-color: rgba($color-gray, 0.6);

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
  }
}
