$color-black: #111119;
$color-accent: #f89a09;
$color-gray: #222022;
$color-white: #fff;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
$border-radius: 8px;

$transition-duration: 0.3s;
